<div class="row">
    <div *ngFor="let item of listaCharacters" class="col-md-3 boxItems">
      <img [src]="item.image" width="50%">
      <div class="p-2">
        <h4> {{item.name}} </h4>
        <p> {{item.created | date: 'dd/MM/yyyy'}} </p>
      </div>
    </div>
</div>

<!--<app-personas (eviarDatos)="datosPersona($event)" [recibirDatos]="listaPersonas" (eviarDatosUpdate)="actualizarDatos($event)"></app-personas>
<hr>
<h4>Padre</h4>
<table>
  <tr>
    <th>Nombre</th>
    <th>Edad</th>
    <th>Sexo</th>
    <th>Acciones</th>
  </tr>
  <tr *ngFor="let persona of listaPersonas">
    <td> {{persona.nombre}} </td>
    <td> {{persona.edad}} </td>
    <td> {{persona.sexo}} </td>
    <td>
      <button (click)="editar(persona)">Editar</button>
      <button (click)="eliminarItem(persona)">Eliminar</button>
    </td>
  </tr>
</table>-->
